@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url('fonts/jf-openhuninn-11.woff2') format('woff2');
    src: url('fonts/jf-openhuninn-11.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --title-font: "jf-openhuninn-1.1", san-serif;
    --reading-font: serif;
    --primary-color: #003b6b;
    --button-color: #afeff0;
}

body {
    margin: 5%;
    font-family: var(--title-font);
}